a {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	transition: 0.5s;
}
a:hover {
	color: #fff;
	background: #27acd9;
}
.iti {
    background-image: url(https://cdn.wikiwiki.jp/to/w/jikoman/Hikakin%20Mania%28%E6%9C%AC%E5%AE%B6%E3%83%81%E3%83%A3%E3%83%B3%E3%83%8D%E3%83%AB%29/::attach/MANIA.jpg?rev=b2fa0ebbd78a1def6fad36abe8e5ed1c&t=20210501133846);
    background-size: contain;
	color: #fff;
  }
.ni {
	background-image: url(https://nicovideo.cdn.nimg.jp/thumbnails/36221859/36221859.51002397.M);
	background-size: contain;
	color: #fff;
}
.san {
	background-image: url("https://cdn.wikiwiki.jp/to/w/jikoman/Hikakin%20Mania%28%E6%9C%AC%E5%AE%B6%E3%83%81%E3%83%A3%E3%83%B3%E3%83%8D%E3%83%AB%29/::attach/MANIA.jpg?rev=b2fa0ebbd78a1def6fad36abe8e5ed1c&t=20210501133846");
	color: white;
}
ul, ol {
	color: #668ad8; 
	border: double 5px #668ad8;/*二重線 太さ 色*/
	background-image: url("https://cdn.wikiwiki.jp/to/w/jikoman/Hikakin%20Mania%28%E6%9C%AC%E5%AE%B6%E3%83%81%E3%83%A3%E3%83%B3%E3%83%8D%E3%83%AB%29/::attach/MANIA.jpg?rev=b2fa0ebbd78a1def6fad36abe8e5ed1c&t=20210501133846"); 
	padding: 0.5em 0.5em 0.5em 2em;
  }
  
  ul li, ol li {
	line-height: 1.5;
	padding: 0.5em 0;
  }
  .yon {
	background-image: url(./img/ゆるせんなあ.jpg);
	color: #fff;
  }
