a {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	transition: 0.5s;
}
a:hover {
	color: #fff;
	background: #27acd9;
}
.niji{
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
}
body {
	background-image: url(./img/野獣背景.jpg);
}
.ni {
	color: #fff;
}
